.number {
  margin: 10px;
  display: inline-block;
  color: blue;
  background-color: #fff;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  /* cursor: not-allowed; */
}

.number.number-selected {
  color: #fff;
  background-color: blue;
}
