.number {
  margin: 10px;
  display: inline-block;
  color: blue;
  background-color: #fff;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 50%;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
}

.number.number-selected {
  color: #fff;
  background-color: blue;
}
